@media screen and (min-width: 1024px) {

    .nav-active {
        border-bottom: 5px solid #ad372d;
    }

    header > * {
        height: 75px;
        transition: all .5s ease;
    }

    .scrolling-active {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #ad372d;
        color: white;
    }

    .scrolling-active > * {
        height: 50px;
    }

    .scrolling-active #header-logo, .scrolling-active .nav-active {
        border: none;
    }

    .scrolling-active a:hover {
        color: rgb(22,22,22);
    }


    #contact-form {
        margin: 0 20%;
    }

    header {
        position: fixed;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10000;
    }

    #header-logo, #header-logo img {
        height: 100%;
        /* height: 75px; */
    }

    #header-logo {
        border: 5px solid #ad372d;
    }

    header * {
        display: flex;
        color: white;
    }

    header ul {
        height: 100%;
        margin: 0;
    }

    header a {
        display: flex;
        align-items: center;
        transition: 0.2s ease-out all;
    }

    header a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    #header-nav li {
        margin: 0 20px;
        height: 100%;
    }

    
    header a:hover, #networks span:hover {
        color: #ad372d;
    }

    #networks li {
        margin: 0 10px;
        height: 100%;
    }

    #header-nav {
        display: flex;
        align-items: center;
        margin-left: 10%;
    } 

    #networks {
        margin-right: 10%;
    }

    .two-col-text {
        column-count: 2;
        column-gap: 50px;
    }

    #ceo-speech {
        padding: 0 10%;
        display: flex;
        align-items: center;
        font-size: larger;
        text-align: justify;
    }

    #ceo-picture {
        height: 60vh;
        width: fit-content;
    }
    
    #ceo-picture img {
        max-height: 100%;
        width: auto;
    }

    #engagements {
        padding: 30px 10%;
    }

    #engagements-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    
    #megadefi {
        padding: 30px 10%;
        align-items: center;
        background-image: url("../img/mbuAd.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    .jumbotron {
        background-color: rgba(61, 61, 61, 0.7);
        text-align: justify;
        font-size: large;
        line-height: 1.5;
        padding: 30px 20px;
    }

    #location {
        display: flex;
    }

    #map, #location-content {
        width: 50%;
    }

    .menu-row {
        display: flex;
        margin-bottom: 50px;
    }

    .category-title {
        flex-grow: 1;
    }

    .category-title h2 {
        position: sticky;
        margin-bottom: 0;
        top: 75px;
    }

    .menu-grid {
        width: 80%;
    }
}