/* ===== */
/* HTML */

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
}

main {
    background-color: rgb(218, 218, 218);
}

/* ===== */
/* FONTS & SIZES */

* {
    font-family: 'Vollkorn', serif;
}

h2, .title-section {
    font-size: calc(1vw + 15px);
}

h2 {
    text-align: center;
}

nav a {
    text-decoration: none;
}

.new, .title-section h1 {
    font-size: calc(1vw + 40px);
}

.title-section {
    /* font-size: calc(1vw + 40px); */
}

#introduction blockquote {
    line-height: 2;
}

/* ===== */
/* COLORS */

/* 
    Colors :
        - Red : #ad372d
        - Brown :
        - Black : rgb(22,22,22)
*/

.bg-red {
    background-color: #ad372d;
    color: white;
}

.bg-black {
    background-color: rgb(22, 22, 22);
    color: white;
}

.title-section {
    color: white;
}

#footer-prevention {
    background-color: #f1f1f1;
    color: gray;
}

/* ===== */
/* COMPONENTS */

. {
    margin: 0;
}

main > :not(.no-margin) {
    padding: 0 5%;
}

nav ul, #network {
    list-style-type: none;
}

figcaption {
    text-align: end;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.input-group input, .input-group textarea {
    min-height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.input-group label {
    margin-left: 5px;
}

/* BACKGROUNDS */

.title-section {
    background-size: cover;
    background-repeat: no-repeat;
}

#new-burger {
    background-image: url("../img/mbuAd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#contact-title {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.319), rgba(0, 0, 0, 0.074)),url("../img/contact.jpg");
}

#introduction {
    padding: 50px 0;
}



#megadefi {
    background-color: #ad372d;
}

.engagement-card {
    padding: 20px 0;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.engagement-card p {
    margin: 0;
}

.engagement-card:hover > .iconify {
    color: #ad372d;
}

.btn-link, button {
    padding: 10px 20px;
    color: white;
    background-color: #ad372d;
    border: 2px solid #ad372d;
    text-decoration: none;
    transition: 0.3s all ease-in;
}

.btn-link:hover, button:hover {
    background: none;
    color: #ad372d;
}

button {
    padding: 10px 40px;
}

footer {
    display: flex;
    flex-direction: column;
}

#footer-content {
    padding: 20px 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
    width: 150px;
}

footer a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in all;
}

footer a:hover {
    color: #ad372d;
}

/* ===== */
/* PLACEMENT */

.title-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-burger {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
}

#footer-prevention {
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 10px 0;
}

#contact-form {
    padding: 30px 0;
}

#location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}